<section id="main">
  <h1>Welcome to Photo Rally</h1>
  <h3>Sign up for adventure</h3>
  <h3>Join a team, or create your own</h3>
  <h3>Receive a list of objectives</h3>
  <h3>Take pictures and submit them</h3>
  <h3>Have fun</h3>
  <a href="/oauth/connect">Log in to Instagram</a>
</section>
