<h1>Photo Rally</h1>

<a href="https://api.instagram.com/oauth/authorize/?client_id=ff007afc46a04acf8e366890633afb73&redirect_uri=http://www.zachbarton.com&response_type=code">Log in to Instagram</a>

